apiVersion: apps.emqx.io/v2beta1
kind: EMQX
metadata:
  name: emqx
spec:
  image: emqx/emqx:5.8.4
  config:
    data:
      log.console.level = debug
  coreTemplate:
    spec:
      replicas: 2
  listenersServiceTemplate:
    spec:
      type: LoadBalancer
  ingress:
    ws:
      enabled: true
      className: ''
      annotations: {}
      hosts:
        - paths:
            - path: /iot
              pathType: ImplementationSpecific
      tls: []
